.header{
    height: 55px;
    text-align: center;
    color:white;
    background: #568be0;
}

.header-title{
    font-size: 1.3em;
    font-weight: normal;
    margin: 0;
    line-height: 55px;
}

.filter{
    height:40px;
}

.feed{
    position: absolute;
    top: 95px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}